-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: dbanestesi
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `booking_operasi`
--

DROP TABLE IF EXISTS `booking_operasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booking_operasi` (
  `no_rawat` varchar(17) NOT NULL,
  `kode_paket` varchar(15) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_selesai` time DEFAULT NULL,
  `status` enum('Menunggu','Proses Operasi','Selesai') DEFAULT NULL,
  `kd_dokter` varchar(20) DEFAULT NULL,
  `kd_ruang_ok` varchar(3) NOT NULL,
  `kd_pasien` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`) USING BTREE,
  KEY `no_rawat` (`no_rawat`) USING BTREE,
  KEY `kode_paket` (`kode_paket`) USING BTREE,
  KEY `kd_dokter` (`kd_dokter`) USING BTREE,
  KEY `kd_ruang_ok` (`kd_ruang_ok`) USING BTREE,
  KEY `fk_booking_pasien` (`kd_pasien`),
  CONSTRAINT `fk_booking_pasien` FOREIGN KEY (`kd_pasien`) REFERENCES `pasien` (`kd_pasien`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_operasi`
--

LOCK TABLES `booking_operasi` WRITE;
/*!40000 ALTER TABLE `booking_operasi` DISABLE KEYS */;
INSERT INTO `booking_operasi` VALUES ('1','1','2025-02-01','23:59:00','00:00:00','Menunggu','1','1','1');
/*!40000 ALTER TABLE `booking_operasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pasien`
--

DROP TABLE IF EXISTS `pasien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pasien` (
  `kd_pasien` varchar(20) NOT NULL,
  `kode_rekam_medis` varchar(20) DEFAULT NULL,
  `nama` varchar(100) NOT NULL,
  `alamat` text DEFAULT NULL,
  `jenis_kelamin` enum('L','P') NOT NULL,
  `tempat_lahir` varchar(100) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `no_hp` varchar(15) DEFAULT NULL,
  `gol_darah` enum('A','B','AB','O') DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`kd_pasien`),
  UNIQUE KEY `kode_rekam_medis` (`kode_rekam_medis`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pasien`
--

LOCK TABLES `pasien` WRITE;
/*!40000 ALTER TABLE `pasien` DISABLE KEYS */;
INSERT INTO `pasien` VALUES ('1','1','dadang beton','morokosono','L','moskow','1995-10-26','081234567890','O','2025-10-07 02:51:59','2025-10-07 02:51:59'),('2','2','markowww','cindeam','L','Ciamis','2005-10-02','083492185746','AB','2025-10-13 06:23:51','2025-10-13 06:23:51'),('3','3','bejooww','buanjar','P','bantargebang','1997-04-10','087483246583','B','2025-10-13 06:25:23','2025-10-13 06:25:23');
/*!40000 ALTER TABLE `pasien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_catatan_anestesi`
--

DROP TABLE IF EXISTS `tbl_anestesi_catatan_anestesi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_catatan_anestesi` (
  `id` varchar(36) NOT NULL,
  `no_rawat` varchar(17) NOT NULL,
  `kode_paket` varchar(15) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `no_rm` varchar(15) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `tgl_lahir` date NOT NULL,
  `ruang_perawatan` varchar(50) NOT NULL,
  `dokter_merawat` varchar(100) NOT NULL,
  `dokter_anestesi` varchar(100) NOT NULL,
  `perawat_anestesi` varchar(100) NOT NULL,
  `diagnosa_pra_bedah` text NOT NULL,
  `nama_tindakan` varchar(50) NOT NULL,
  `diagnosa_pasca_bedah` text NOT NULL,
  `asessment_pra_anestesi` text NOT NULL,
  `jenis_anestesi` varchar(20) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `tanggal_anestesi` date DEFAULT NULL,
  `pukul` time DEFAULT NULL,
  `dokter_bedah` varchar(100) DEFAULT NULL,
  `perawat_bedah` varchar(100) NOT NULL,
  `jenis_pembedahan` varchar(20) DEFAULT NULL,
  `bb` decimal(5,2) DEFAULT NULL,
  `td` varchar(20) DEFAULT NULL,
  `suhu` decimal(4,2) DEFAULT NULL,
  `respirasi` int(11) DEFAULT NULL,
  `hb` decimal(5,2) DEFAULT NULL,
  `tb` decimal(5,2) DEFAULT NULL,
  `nadi` int(11) DEFAULT NULL,
  `gcs` int(11) DEFAULT NULL,
  `golongan_darah` enum('A','B','AB','O') DEFAULT NULL,
  `skrining_nyeri` enum('Ya','Tidak') DEFAULT NULL,
  `status_fisik_asa` enum('I','II','III','IV','V','VI') DEFAULT NULL,
  `penyulit_pra_anestesi` varchar(200) DEFAULT NULL,
  `resiko` varchar(20) DEFAULT NULL,
  `checklist_sebelum_induksi` text DEFAULT NULL,
  `teknik_anestesi` varchar(50) DEFAULT NULL,
  `infus_perifer` text DEFAULT NULL,
  `posisi` text DEFAULT NULL,
  `lain_lain_posisi` varchar(100) DEFAULT NULL,
  `premedikasi` text DEFAULT NULL,
  `premedik_nama_obat` varchar(100) DEFAULT NULL,
  `premedik_dosis_obat` varchar(100) DEFAULT NULL,
  `induksi` text DEFAULT NULL,
  `jalan_nafas` text DEFAULT NULL,
  `ventilasi` text DEFAULT NULL,
  `ventilator` text DEFAULT NULL,
  `ukuran_balon` varchar(20) DEFAULT NULL,
  `jenis_balon` varchar(20) DEFAULT NULL,
  `posisi_ett` varchar(20) DEFAULT NULL,
  `lokasi_regional` varchar(100) DEFAULT NULL,
  `jarum_regional` varchar(100) DEFAULT NULL,
  `kateter_regional` varchar(100) DEFAULT NULL,
  `obat_anestesi_lokal` varchar(100) DEFAULT NULL,
  `hasil_regional` text DEFAULT NULL,
  `obat` text DEFAULT NULL,
  `cairan_infus` text DEFAULT NULL,
  `cairan_output` text DEFAULT NULL,
  `masalah_selama_anestesi` text DEFAULT NULL,
  `tindakan` text DEFAULT NULL,
  `perawat_menyerahkan` varchar(100) DEFAULT NULL,
  `perawat_menerima` varchar(100) DEFAULT NULL,
  `dokter_anestesi_ttd` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `mulai_anestesi` time DEFAULT NULL,
  `selesai_anestesi` time DEFAULT NULL,
  `mulai_pembedahan` time DEFAULT NULL,
  `selesai_pembedahan` time DEFAULT NULL,
  `keterangan_waktu` varchar(255) DEFAULT NULL,
  `induksi_pukul` time DEFAULT NULL,
  `pasien_siap_insisi` time DEFAULT NULL,
  `insisi_mulai_pukul` time DEFAULT NULL,
  `operasi_mulai_pukul` time DEFAULT NULL,
  `ekstubasi_pukul` time DEFAULT NULL,
  `pasien_keluar_ok` time DEFAULT NULL,
  `lain_lain_balon` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_catatan_booking` (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`),
  CONSTRAINT `fk_catatan_booking` FOREIGN KEY (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`) REFERENCES `booking_operasi` (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_catatan_anestesi`
--

LOCK TABLES `tbl_anestesi_catatan_anestesi` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_catatan_anestesi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_catatan_anestesi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_informed_consent_anestesi`
--

DROP TABLE IF EXISTS `tbl_anestesi_informed_consent_anestesi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_informed_consent_anestesi` (
  `id` varchar(36) NOT NULL,
  `no_rawat` varchar(17) NOT NULL,
  `kode_paket` varchar(15) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `ruang` varchar(100) DEFAULT NULL,
  `dokter_pelaksana` varchar(100) DEFAULT NULL,
  `pemberi_info` varchar(100) DEFAULT NULL,
  `jabatan` varchar(50) DEFAULT NULL,
  `penerima_info` varchar(100) DEFAULT NULL,
  `hubungan_pasien` varchar(50) DEFAULT NULL,
  `tindakan_operasi` varchar(200) DEFAULT NULL,
  `jenis_anestesi` text DEFAULT NULL,
  `indikasi` text DEFAULT NULL,
  `tata_cara` text DEFAULT NULL,
  `tujuan` text DEFAULT NULL,
  `risiko` text DEFAULT NULL,
  `status_fisik` text DEFAULT NULL,
  `prognosis` text DEFAULT NULL,
  `alternatif_resiko` text DEFAULT NULL,
  `lain_lain` text DEFAULT NULL,
  `checkbox_confirm` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_consent_booking` (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`),
  CONSTRAINT `fk_consent_booking` FOREIGN KEY (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`) REFERENCES `booking_operasi` (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_informed_consent_anestesi`
--

LOCK TABLES `tbl_anestesi_informed_consent_anestesi` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_informed_consent_anestesi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_informed_consent_anestesi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_kamar_pemulihan`
--

DROP TABLE IF EXISTS `tbl_anestesi_kamar_pemulihan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_kamar_pemulihan` (
  `id` varchar(36) NOT NULL,
  `no_rawat` varchar(17) NOT NULL,
  `kode_paket` varchar(15) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_masuk` time DEFAULT NULL,
  `tgl_masuk` date DEFAULT NULL,
  `jalan_nafas` varchar(50) DEFAULT NULL,
  `pernapasan` varchar(50) DEFAULT NULL,
  `kesadaran` varchar(50) DEFAULT NULL,
  `instruksi` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_pemulihan_booking` (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`),
  CONSTRAINT `fk_pemulihan_booking` FOREIGN KEY (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`) REFERENCES `booking_operasi` (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_kamar_pemulihan`
--

LOCK TABLES `tbl_anestesi_kamar_pemulihan` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_kamar_pemulihan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_kamar_pemulihan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_keselamatan_operasi`
--

DROP TABLE IF EXISTS `tbl_anestesi_keselamatan_operasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_keselamatan_operasi` (
  `id` varchar(36) NOT NULL,
  `no_rawat` varchar(17) NOT NULL,
  `kode_paket` varchar(15) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `operasi` varchar(200) DEFAULT NULL,
  `tanggal_tindakan` date DEFAULT NULL,
  `signin` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`signin`)),
  `timeout` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`timeout`)),
  `signout` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`signout`)),
  PRIMARY KEY (`id`),
  KEY `fk_chk_booking` (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`),
  CONSTRAINT `fk_chk_booking` FOREIGN KEY (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`) REFERENCES `booking_operasi` (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_keselamatan_operasi`
--

LOCK TABLES `tbl_anestesi_keselamatan_operasi` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_keselamatan_operasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_keselamatan_operasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_konsultasi_anestesi`
--

DROP TABLE IF EXISTS `tbl_anestesi_konsultasi_anestesi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_konsultasi_anestesi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_rawat` varchar(20) NOT NULL,
  `kode_paket` varchar(20) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `ruang_perawatan` varchar(100) DEFAULT NULL,
  `dokter_merawat` varchar(100) DEFAULT NULL,
  `tanggal_konsul` date DEFAULT NULL,
  `jam_konsul` time DEFAULT NULL,
  `tinggi_badan` decimal(5,2) DEFAULT NULL,
  `berat_badan` decimal(5,2) DEFAULT NULL,
  `diagnosa_pra_operasi` text DEFAULT NULL,
  `jenis_diagnosa` varchar(20) DEFAULT 'Elektif' COMMENT 'Jenis diagnosa: Cito atau Elektif',
  `rencana_tindakan_operasi` text DEFAULT NULL,
  `kondisi_khusus` text DEFAULT NULL,
  `tanggal_dibuat` datetime DEFAULT NULL,
  `jam_visit` time DEFAULT NULL,
  `menikah` enum('Ya','Tidak') DEFAULT NULL,
  `jenis_kelamin` enum('Laki-laki','Perempuan') DEFAULT NULL,
  `merokok` varchar(50) DEFAULT NULL,
  `alkohol` varchar(50) DEFAULT NULL,
  `has_pengobatan` enum('Ya','Tidak') DEFAULT NULL COMMENT 'Toggle untuk menampilkan field pengobatan',
  `pengobatan` text DEFAULT NULL COMMENT 'Detail pengobatan (dosis, jumlah pil per hari)',
  `daftar_alergi_obat` text DEFAULT NULL,
  `has_alergi_obat` enum('Ya','Tidak') DEFAULT NULL,
  `alergi_makanan` enum('Ya','Tidak') DEFAULT NULL,
  `alergi_lateks` enum('Ya','Tidak') DEFAULT NULL,
  `tidak_alergi` varchar(255) DEFAULT NULL,
  `komunikasi` varchar(100) DEFAULT 'Bahasa Indonesia',
  `komunikasi_lainnya` varchar(100) DEFAULT NULL,
  `asma` enum('Ya','Tidak') DEFAULT NULL,
  `hepatitis` enum('Ya','Tidak') DEFAULT NULL,
  `sesak_nafas` enum('Ya','Tidak') DEFAULT NULL,
  `pingsan` enum('Ya','Tidak') DEFAULT NULL,
  `sumbatan_jalan_nafas` enum('Ya','Tidak') DEFAULT NULL,
  `diabetes` enum('Ya','Tidak') DEFAULT NULL,
  `tidur_mengorok` enum('Ya','Tidak') DEFAULT NULL,
  `anemia` enum('Ya','Tidak') DEFAULT NULL,
  `serangan_jantung` enum('Ya','Tidak') DEFAULT NULL,
  `sakit_maag` enum('Ya','Tidak') DEFAULT NULL,
  `hipertensi` enum('Ya','Tidak') DEFAULT NULL,
  `pendarahan` enum('Ya','Tidak') DEFAULT NULL,
  `stroke` enum('Ya','Tidak') DEFAULT NULL,
  `pembekuan_darah` enum('Ya','Tidak') DEFAULT NULL,
  `kejang` enum('Ya','Tidak') DEFAULT NULL,
  `penyakit_berat_lainnya` enum('Ya','Tidak') DEFAULT NULL,
  `penyakit_terpilih` text DEFAULT NULL COMMENT 'Penjelasan penyakit yang dipilih',
  `gigi_palsu` enum('Ya','Tidak') DEFAULT NULL,
  `makan_terakhir` time DEFAULT NULL,
  `riwayat_operasi` text DEFAULT NULL,
  `jenis_anestesi` text DEFAULT NULL,
  `terakhir_periksa` date DEFAULT NULL,
  `tempat_periksa_terakhir` varchar(255) DEFAULT NULL,
  `penyakit_gangguan` text DEFAULT NULL,
  `jumlah_kehamilan` int(11) DEFAULT NULL,
  `jumlah_anak` int(11) DEFAULT NULL,
  `menyusui` enum('Ya','Tidak') DEFAULT NULL,
  `kesadaran` varchar(100) DEFAULT NULL,
  `tb` decimal(5,2) DEFAULT NULL COMMENT 'Tinggi Badan (cm)',
  `bb` decimal(5,2) DEFAULT NULL COMMENT 'Berat Badan (kg)',
  `td` varchar(20) DEFAULT NULL COMMENT 'Tekanan Darah (mmHg)',
  `nadi` int(11) DEFAULT NULL COMMENT 'Nadi (x/menit)',
  `rr` int(11) DEFAULT NULL COMMENT 'Respiratory Rate (x/menit)',
  `suhu` decimal(4,1) DEFAULT NULL COMMENT 'Suhu (┬░C)',
  `skrining_nyeri` enum('Ya','Tidak') DEFAULT NULL,
  `jalan_nafas` varchar(100) DEFAULT NULL,
  `gerakan_leher` varchar(100) DEFAULT NULL,
  `gerakan_leher_keterangan` varchar(255) DEFAULT NULL,
  `paru_paru` varchar(255) DEFAULT NULL,
  `jantung` varchar(255) DEFAULT NULL,
  `abdomen` varchar(255) DEFAULT NULL,
  `ekstrimitas` varchar(255) DEFAULT NULL,
  `neurologi` varchar(255) DEFAULT NULL,
  `lain_lain` varchar(255) DEFAULT NULL,
  `hb_ht_al_at` varchar(100) DEFAULT NULL COMMENT 'Hb/Ht/AL/AT',
  `na_k_cl` varchar(100) DEFAULT NULL COMMENT 'NA/K/CL',
  `ureum` varchar(100) DEFAULT NULL,
  `ct_bt` varchar(100) DEFAULT NULL COMMENT 'CT/BT',
  `kreatin` varchar(100) DEFAULT NULL,
  `ekg` varchar(100) DEFAULT NULL COMMENT 'EKG',
  `ro_dada` varchar(100) DEFAULT NULL COMMENT 'RO Dada',
  `echo` varchar(100) DEFAULT NULL COMMENT 'Echocardiogram',
  `lain_lain_pemeriksaan` varchar(255) DEFAULT NULL,
  `asa_status` varchar(50) DEFAULT NULL COMMENT 'ASA 1-5',
  `emergency` enum('Ya','Tidak') DEFAULT NULL,
  `rekomendasi_anestesi` text DEFAULT NULL COMMENT 'Diagnosis lain-lain',
  `anestesi_umum` varchar(100) DEFAULT NULL COMMENT 'Intravena, Sungkup Muka, LMA, Pipa ET',
  `regional_anestesi` varchar(100) DEFAULT NULL COMMENT 'Spinal, Epidural, CSE, PNB',
  `kombinasi_anestesi` varchar(100) DEFAULT NULL COMMENT 'Anestesi Umum + Regional',
  `sedasi` varchar(100) DEFAULT NULL COMMENT 'Sedasi Sedang, Sedasi Dalam',
  `saran` text DEFAULT NULL,
  `puasa_mulai_jam` time DEFAULT NULL,
  `puasa_mulai_tanggal` date DEFAULT NULL,
  `rencana_tiba_jam` time DEFAULT NULL,
  `rencana_tiba_tanggal` date DEFAULT NULL,
  `rencana_operasi_jam` time DEFAULT NULL,
  `rencana_operasi_tanggal` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_konsultasi` (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`),
  KEY `idx_no_rawat` (`no_rawat`),
  KEY `idx_tanggal` (`tanggal`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Tabel Konsultasi Anestesi - 95 kolom + id';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_konsultasi_anestesi`
--

LOCK TABLES `tbl_anestesi_konsultasi_anestesi` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_konsultasi_anestesi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_konsultasi_anestesi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_persiapan_operasi`
--

DROP TABLE IF EXISTS `tbl_anestesi_persiapan_operasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_persiapan_operasi` (
  `id` int(11) NOT NULL,
  `no_rm` varchar(20) DEFAULT NULL,
  `no_rawat` varchar(20) DEFAULT NULL,
  `kode_paket` varchar(50) DEFAULT NULL,
  `nama` varchar(100) DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `umur` int(11) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `dpjp` varchar(100) DEFAULT NULL,
  `tanggal_operasi` date DEFAULT NULL,
  `gol_darah` enum('A','B','AB','O') DEFAULT NULL,
  `riwayat_alergi` text DEFAULT NULL,
  `macam_operasi` varchar(150) DEFAULT NULL,
  `tinggi_badan` decimal(5,2) DEFAULT NULL,
  `berat_badan` decimal(5,2) DEFAULT NULL,
  `program_ke_ubs` tinyint(1) DEFAULT NULL,
  `persetujuan_operasi` tinyint(1) DEFAULT NULL,
  `rekam_medis` tinyint(1) DEFAULT NULL,
  `laporan_operasi` tinyint(1) DEFAULT NULL,
  `laporan_anestesi` tinyint(1) DEFAULT NULL,
  `hasil_lab` tinyint(1) DEFAULT NULL,
  `hasil_radiologi` tinyint(1) DEFAULT NULL,
  `hasil_ct_scan` tinyint(1) DEFAULT NULL,
  `hasil_usg` tinyint(1) DEFAULT NULL,
  `hasil_ekg` tinyint(1) DEFAULT NULL,
  `hasil_lain` tinyint(1) DEFAULT NULL,
  `puasa` tinyint(1) DEFAULT NULL,
  `waktu_puasa` datetime DEFAULT NULL,
  `lavement` tinyint(1) DEFAULT NULL,
  `pasang_dc` tinyint(1) DEFAULT NULL,
  `cukur_daerah_operasi` tinyint(1) DEFAULT NULL,
  `rambut_makeup_dibersihkan` tinyint(1) DEFAULT NULL,
  `perhiasan_dilepas` tinyint(1) DEFAULT NULL,
  `transfusi_whole_blood` tinyint(1) DEFAULT NULL,
  `kantong_wb` int(11) DEFAULT NULL,
  `transfusi_prc` tinyint(1) DEFAULT NULL,
  `kantong_prc` int(11) DEFAULT NULL,
  `transfusi_ffp` tinyint(1) DEFAULT NULL,
  `kantong_ffp` int(11) DEFAULT NULL,
  `premedikasi` tinyint(1) DEFAULT NULL,
  `antibiotik_preops` varchar(100) DEFAULT NULL,
  `jam_antibiotik` time DEFAULT NULL,
  `dm_insulin_preop` tinyint(1) DEFAULT NULL,
  `hipertensi_obat` tinyint(1) DEFAULT NULL,
  `asma_obat` tinyint(1) DEFAULT NULL,
  `obat_lain` text DEFAULT NULL,
  `obat_tidur` tinyint(1) DEFAULT NULL,
  `pasang_infus` tinyint(1) DEFAULT NULL,
  `iv_catch_no` varchar(50) DEFAULT NULL,
  `tekanan_darah` varchar(20) DEFAULT NULL,
  `nadi` varchar(20) DEFAULT NULL,
  `suhu` decimal(4,1) DEFAULT NULL,
  `pernafasan` varchar(20) DEFAULT NULL,
  `obat_ubs` tinyint(1) DEFAULT NULL,
  `hasil_skin_test` enum('Positif','Negatif') DEFAULT NULL,
  `visit_dokter_bedah` tinyint(1) DEFAULT NULL,
  `visit_dokter_anestesi` tinyint(1) DEFAULT NULL,
  `visit_dokter_konsul_1` tinyint(1) DEFAULT NULL,
  `nama_dokter_konsul_1` varchar(100) DEFAULT NULL,
  `visit_dokter_konsul_2` tinyint(1) DEFAULT NULL,
  `nama_dokter_konsul_2` varchar(100) DEFAULT NULL,
  `visit_dokter_konsul_3` tinyint(1) DEFAULT NULL,
  `nama_dokter_konsul_3` varchar(100) DEFAULT NULL,
  `perawat_ruangan` varchar(100) DEFAULT NULL,
  `tanda_tangan_perawat_ruangan` varchar(255) DEFAULT NULL,
  `perawat_ubs` varchar(100) DEFAULT NULL,
  `tanda_tangan_perawat_ubs` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_persiapan_operasi`
--

LOCK TABLES `tbl_anestesi_persiapan_operasi` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_persiapan_operasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_persiapan_operasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_vital_pemulihan`
--

DROP TABLE IF EXISTS `tbl_anestesi_vital_pemulihan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_vital_pemulihan` (
  `id` varchar(36) NOT NULL,
  `no_rawat` varchar(17) NOT NULL,
  `kode_paket` varchar(15) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `id_pemulihan` varchar(36) DEFAULT NULL,
  `waktu_label` varchar(50) DEFAULT NULL,
  `nadi` int(11) DEFAULT NULL,
  `sistol` int(11) DEFAULT NULL,
  `diastol` int(11) DEFAULT NULL,
  `respirasi` int(11) DEFAULT NULL,
  `nyeri` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_vital_booking` (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`),
  KEY `fk_vital_pem` (`id_pemulihan`),
  CONSTRAINT `fk_vital_booking` FOREIGN KEY (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`) REFERENCES `booking_operasi` (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`),
  CONSTRAINT `fk_vital_pem` FOREIGN KEY (`id_pemulihan`) REFERENCES `tbl_anestesi_kamar_pemulihan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_vital_pemulihan`
--

LOCK TABLES `tbl_anestesi_vital_pemulihan` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_vital_pemulihan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_vital_pemulihan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_anestesi_vital_sign`
--

DROP TABLE IF EXISTS `tbl_anestesi_vital_sign`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_anestesi_vital_sign` (
  `id` varchar(36) NOT NULL,
  `no_rawat` varchar(17) NOT NULL,
  `kode_paket` varchar(15) NOT NULL,
  `tanggal` date NOT NULL,
  `jam_mulai` time NOT NULL,
  `waktu` datetime DEFAULT NULL,
  `respirasi` int(11) DEFAULT NULL,
  `nadi` int(11) DEFAULT NULL,
  `td_sistolik` int(11) DEFAULT NULL,
  `td_diastolik` int(11) DEFAULT NULL,
  `suhu` decimal(4,1) DEFAULT NULL,
  `spo2` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_vitals_booking` (`no_rawat`,`kode_paket`,`tanggal`,`jam_mulai`),
  CONSTRAINT `fk_vitals_booking` FOREIGN KEY (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`) REFERENCES `booking_operasi` (`no_rawat`, `kode_paket`, `tanggal`, `jam_mulai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_anestesi_vital_sign`
--

LOCK TABLES `tbl_anestesi_vital_sign` WRITE;
/*!40000 ALTER TABLE `tbl_anestesi_vital_sign` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_anestesi_vital_sign` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-14 14:23:25
